@import "src/styles/color.scss";
@import "src/styles/breakpoints.scss";
@import "src/styles/_global.scss";

.cooperation {
  width: 100%;
}

.cooperation__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 92%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  z-index: 10;

  @media (min-width: $screen-md-min) {
    width: 85%;
  }
}
.cooperation__title {
  margin-bottom: 1rem;
  color: $fun-green;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;

  @media (min-width: $screen-md-min) {
    font-size: 2.2rem;
  }
}

.cooperation__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cooperation__item {
  width: 20%;
  height: auto;
}
