.cooperation {
  width: 100%;
}

.cooperation__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.cooperation__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.cooperation__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
