@import "src/styles/color.scss";
@import "src/styles/breakpoints.scss";
@import "src/styles/_global.scss";

.contact {
  width: 100%;
  margin: 1rem 0;
  font-family: "FormaDJRDisplay", sans-serif;
}

.contact__container {
  width: 92%;
  margin: 0 auto;
  z-index: 10;

  @media (min-width: $screen-md-min) {
    width: 90%;
  }
}

.contact__title {
  margin-bottom: 1rem;
  color: $fun-green;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-align: left;

  @media (min-width: $screen-md-min) {
    margin-left: 0.7rem;
    font-size: 2.2rem;
  }
}

.card__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}

.card__img {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.contact__card {
  width: 100%;
  padding: 1rem 0.5rem;
  color: $fun-green;
  background-color: $chefs-hat;
  border-radius: 10px;
  box-shadow: $gossamer-green 0px 0px 5px 0px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;

  @media (min-width: $screen-md-min) {
    width: 45%;
    box-shadow: $gossamer-green 0px 0px 15px 0px;
    font-size: 0.98rem;
  }
}
