@import "src/styles/color.scss";
@import "src/styles/breakpoints.scss";
@import "src/styles/_global.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  border-bottom: 1px solid $lavender-purple;
}

.logo {
  width: 7rem;
  height: auto;
}

.subtitle {
  margin-bottom: 0.5rem;
  color: $fun-green;
  font-size: 1rem;
  font-weight: 500;
  font-family: "FormaDJRDisplay", sans-serif;
}
