@import "src/styles/color.scss";
@import "src/styles/breakpoints.scss";
@import "src/styles/_global.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .copyright {
    margin-top: 0.1rem;
    font-size: 0.5rem;
  }
}

.copyright {
  margin-top: 1.2rem;
  color: $fun-green;
  font-size: 0.7rem;
  font-weight: 500;
  font-family: "FormaDJRDisplay", sans-serif;
}
